



.cardList
{

      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
  height:400px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
  }
  .navbar {
   position: fixed;
    top: 0;
    width: 100%;
    margin:0px;
    z-index: 1000; 
  }
/* .cardDetail {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */
.cardDetail {
  height:400px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      transform: rotateY(-180deg);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #ccc;
  border-radius: 50%;
}

strong {
  color: rgba(33, 72, 117, 0.966);
  font-weight: 570;
}



.success-message {
  background-color: #4CAF50; 
  color: #fff; 
  text-align: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000; 
}
#employeeInput {
 
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 30%;
  float:right;
  border-radius: 2px;
  font-size: 12px; 
  border-radius: 20px;
  padding: 10px 10px 10px 20px; 
  border: 2px solid rgb(33 72 117 / 97%); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 12px;

}
.dropdown-content {

  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}
.center{
  text-align:center;
  margin-top:200px;
}
